.Rproj.user
.Rhistory
.RData
.Ruserdata
.drake
.DS_Store
*.html
data_raw/
data/
tmp/
01_translation/
02_clustering/
03_clusters/
04_homologs/
05_orthologs/
06_intron_masking/
07_baits/
!data_raw/.keep
!data/.keep
!01_translation/.keep
!02_clustering/.keep
!03_clusters/.keep
!04_homologs/.keep
!05_orthologs/fasta/.keep
!05_orthologs/tre/.keep
!06_intron_masking/taxonomy_filtered/.keep
!06_intron_masking/blast_filtered/.keep
!07_baits/.keep
